<div class="form-group row">
  <label class="col-form-label col-sm-2" for="customer_id">Customer ID</label>
  <div class="col-sm-7">
    <input class="form-control" name="customer_id" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="<%= model.customer_id %>" required="required"/>
  </div>
  <label>(Required)</label>
</div>
  

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="first_name">First Name</label>
    <div class="col-sm-7">
      <input class="form-control" name="first_name"  type= "text" oninput="this.value = this.value.replace(/[^a-z, ]/, '')" value="<%= model.first_name %>" required="required"/>
    </div>
    <label>(Required)</label>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="last_name">Last Name</label>
    <div class="col-sm-7">
      <input class="form-control" name="last_name" oninput="this.value = this.value.replace(/[^a-z, ]/, '')" value="<%= model.last_name %>" required="required"/>
    </div>
    <label>(Required)</label>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="states">State</label>
    <div class="col-sm-7">
      <input class="form-control" name="states" list="states" oninput="this.value = this.value.replace(/[^a-z, ]/, '')" maxlength="2" value="<%= model.states %>" />
      <%- include("states") -%>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="sales_ytd">Sales YTD</label>
    <div class="col-sm-7">
      <input class="form-control" name="sales_ytd" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="<%= model.sales_ytd %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="previous_years_sales">Previous Years Sales</label>
    <div class="col-sm-7">
      <input class="form-control" name="previous_years_sales" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="<%= model.previous_years_sales %>" />
    </div>
  </div>