<%- include("_header") -%>

    <h1>Find Customers</h1>

    <h4>Total number of records in the database: <%= totRecs %>
    </h4>
    <script>
        function customReset()
        {
            document.getElementById("customer_id").value= "";
            document.getElementById("first_name").value= "";
            document.getElementById("last_name").value= "";
            document.getElementById("states").value= "";
            document.getElementById("sales_ytd").value= "";
            document.getElementById("sales_ytd").value= "";
            document.getElementById("previous_years_sales").value= "";
        }
        </script>

    <!-- Not using bootstrap, just a simple form that you may enhance -->
    <form action="/manage" method="POST" id="form">
        <table>
            <tr>
                <td><label for="customer_id">Customer ID</label>:</td>
                <td><input type="number" name="customer_id" id="customer_id" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="<%= cust.customer_id %>" /></td>
                <td>(equal)</td>
            </tr>
            <tr>
                <td><label for="first_name">First Name</label>:</td>
                <td><input type="text" name="first_name" id="first_name" oninput="this.value = this.value.replace(/[^A-z, ]/, '')" value="<%= cust.first_name %>" /></td>
                <td>(starts with)</td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name</label>:</td>
                <td><input type="text" name="last_name" id="last_name" oninput="this.value = this.value.replace(/[^A-z, ]/, '')" value="<%= cust.last_name %>" /></td>
                <td>(starts with)</td>
            </tr>
            <tr>
                <td><label for="states">State</label>:</td>
                <td><input type="text" name="states" id="states" maxlength="2" oninput="this.value = this.value.replace(/[^A-z, ]/, '')" value="<%= cust.states %>" /></td>
                <td>(equal)</td>
            </tr>
            <tr>
                <td><label for="sales_ytd">Sales YTD</label>:</td>
                <td><input type="text" name="sales_ytd" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="sales_ytd" value="<%= cust.sales_ytd %>" /></td>
                <td>(greater than or equal)</td>
            </tr>
            <tr>
                <td><label for="previous_years_sales">Previous Years Sales</label>:</td>
                <td><input type="text" name="previous_years_sales" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="previous_years_sales"
                        value="<%= cust.previous_years_sales %>" /></td>
                <td>(greater than or equal)</td>
            </tr>
            <tr>
                <td span="3">
                    <input type="submit" value="Find" />
                    <input type="button" value="Reset" id="reset" onclick="customReset();"/>
                </td>
            </tr>
        </table>
    </form>

    <!-- Omitted Error Checking / Needs to be added -->
    <% if (type==="post" ) { %>
        <% if (result.result.length===0) { %>
            <h3>No records found!</h3>
            <% } else { %>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>State</th>
                            <th>Sales YTD</th>
                            <th>Previous Years Sales</th>
                            <th class="d-print-none">
                                <a class="btn btn-sm btn-success" href="/newCust">Add</a>
                              </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% result.result.forEach(customers => { %>
                            <tr>
                                <td>
                                    <%= customers.customer_id %>
                                </td>
                                <td>
                                    <%= customers.first_name %>
                                </td>
                                <td>
                                    <%= customers.last_name %>
                                </td>
                                <td>
                                    <%= customers.states %>
                                </td>
                                <td>
                                    <%= customers.sales_ytd %>
                                </td>
                                <td>
                                    <%= customers.previous_years_sales %>
                                </td>
                                <td class="d-print-none">
                                    <a class="btn btn-sm btn-warning" href="/edit/<%= customers.customer_id %>">Edit</a>
                                    <a class="btn btn-sm btn-danger" href="/delete/<%= customers.customer_id %>">Delete</a>
                                  </td>
                            </tr>
                            <% }); %>
                    </tbody>

                </table>
                <% } %>
                    <% } %>
                        <%- include("_footer") -%>